<h3>Platform information:</h3>
<mat-list role="list">
  <mat-list-item>Is Android: {{platform.ANDROID}}</mat-list-item>
  <mat-list-item>Is iOS: {{platform.IOS}}</mat-list-item>
  <mat-list-item>Is Firefox: {{platform.FIREFOX}}</mat-list-item>
  <mat-list-item>Is Blink: {{platform.BLINK}}</mat-list-item>
  <mat-list-item>Is Webkit: {{platform.WEBKIT}}</mat-list-item>
  <mat-list-item>Is Trident: {{platform.TRIDENT}}</mat-list-item>
  <mat-list-item>Is Edge: {{platform.EDGE}}</mat-list-item>
  <mat-list-item>Supported input types: {{supportedInputTypes}}</mat-list-item>
  <mat-list-item>Supports passive event listeners: {{supportsPassiveEventListeners}}</mat-list-item>
  <mat-list-item>Supports scroll behavior: {{supportsScrollBehavior}}</mat-list-item>
</mat-list>
