<button mat-button routerLink="/dashboard">Dashboard</button>
<button mat-button routerLink="/login">Login</button>
<button mat-button routerLink="/info">Info</button>
<button mat-icon-button routerLink="/preference">
  <mat-icon>settings</mat-icon>
</button>
<button mat-button routerLink="/api">API</button>
<button mat-button routerLink="/ui">UI</button>
<button mat-button routerLink="/graphql">GraphQL</button>
<button mat-button routerLink="/fb-order">FBO</button>
<button mat-button routerLink="/fb-order-list">FBOL</button>
