<div>[SAMPLE]</div>
<!-- <ng-template [ngIf]="mode === 'vertical'">
  <ngx-charts-bar-vertical [view]="view" [animations]="true" [scheme]="colorScheme" [results]="results"
    [gradient]="false" [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="true" [showGridLines]="true"
    [showYAxisLabel]="true" [roundEdges]="false" [showDataLabel]="true" [barPadding]="20" (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</ng-template>

<ng-template [ngIf]="mode === 'horizontal'">
  <ngx-charts-bar-horizontal [view]="view" [animations]="true" [scheme]="colorScheme" [results]="results"
    [gradient]="false" [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="true" [showGridLines]="true"
    [showYAxisLabel]="true" [roundEdges]="false" [showDataLabel]="true" [barPadding]="20" (select)="onSelect($event)">
  </ngx-charts-bar-horizontal>
</ng-template> -->
